# Ignore everything
*

# Don't ignore these files
!/.gitignore
!/README.md
!/googledrive.py
!/main.py
!/package.json
!/post_ids.txt
!/requirements.txt
!/subtitles.py
!/textprocess.py
!/texttospeech.py
!/uploader.py
!/utils.py
!/videocreation.py
!/x_bogus_x.py
