git+https://github.com/abdeladim-s/subsai.git@2094df03e8d4a52c381cd3ed110762d4e813f3b1
requests==2.28.2
praw==7.7.0
moviepy==1.0.3
google-api-core==2.11.0
google-api-python-client==2.84.0
google-auth==2.17.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.59.0
